@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Courier+Prime:ital,wght@1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background: #edeaff;
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: italic;
}

.stopwatch{
    width: 90%;
    max-width: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./images/background.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 40px 0;
    color: #fff;
    margin: 200px auto 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.stopwatch h1{
    margin-top: 60px;
    font-size: 64px;
    font-weight: 300;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons img{
    width: 50px;
    margin: 0 20px;
    cursor: pointer;
    transition: 1s all ease-in-out;
}

.buttons img:hover{
    scale: 2;
}

/* .buttons img:focus{
    scale: 1;
} */

/* When the button is clicked, its background color will change to blue, and then revert back to its original color once the click is released. */

.buttons img:active{
    scale: 1.5;
}